<div class="container">
  <mat-card class="card" style="width: 300px;">

    <div>
      <h1 style="font-weight: 900;">Gamimate</h1>
    </div>
    <div>

      <button mat-button class="opcao" color="accent"><a href="/soma">Soma</a></button>
    </div>

    <div>
      <button mat-button class="opcao" color="accent"><a href="/sub">Subtração</a></button>
    </div>

    <div>
      <button mat-button class="opcao" color="accent"><a href="/div">Divisão</a></button>
    </div>

    <div>
      <button mat-button class="opcao" color="accent"><a href="/mult">Multiplicação</a></button>
    </div>

    <div>
      <button mat-button class="opcao" color="accent"><a href="/rand">Bora Praticar</a></button>
    </div>

  </mat-card>

</div>